{
  "plugins": ["babel-plugin-source-map-support", "@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties", "@babel/plugin-transform-react-jsx"],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "12.18.1"
      }
    }]
  ]
}
