.pz-customer-groupbox {
  border: 1px dashed #62737e;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
  margin: 0px 0px 1rem -18px;
  position: relative;
  background: #fff;
  display: block;
  z-index: 2;
  box-shadow: -10px 0px 1px 4px #fff;

  .pz-radio {
    .ant-radio-group {
      position: absolute;
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      top: 0;
      left: -10px;
    }
  }

  .pz-linebreak {
    .ant-form-item-label {
      white-space: pre-wrap !important;
      height: 3rem;
      margin-left: 6px;
    }
  }
  .ant-form-item-control {
    // margin-left: 10px;
  }
}

.pz-linebreak-item-group {
  display: flex;
  align-items: center;
}

// pricezone container styles

.pz-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 2rem;
  border-radius: 0.9rem;
  background: white;
  border: 0.076rem solid rgba(98, 115, 126, 0.25);

  .ant-tabs {
    width: 100%;

    .ant-tabs-nav-wrap {
      border-top-left-radius: 20px;
    }

    .ant-tabs-nav {
      margin: 0 !important;
    }
    .ant-tabs-tabpane {
      background: #fff;
    }

    .pz-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      position: relative;
      padding-top: 5px;
      background: #fff;
      .pz-header-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0px 20px 25px;
      }
      .pz-tab-section {
        width: 100%;
        display: flex;
        .pz-tabs {
          width: calc(100% / 6);
          padding: 20px;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
        .pz-separator {
          &::before {
            position: absolute;
            left: 0;
            top: 1rem;
            content: "";
            width: 2px;
            height: 70%;
            border-left: 1px dashed #62737e;
          }
        }
        .pz-tab-items {
          display: flex;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .pz-tab-items-top,
          .pz-tab-items-bottom {
            width: 100%;
            padding-bottom: 5px;
            text-align: left;
          }
          .pz-tab-items-top {
            font-weight: 600;
            font-size: 1.15rem;
          }
          .pz-tab-items-bottom {
            width: 100%;
            padding-bottom: 5px;
            text-align: left;
            font-weight: 700;
            font-size: 1.5rem;
            margin-top: 1rem;

            .pz-select {
              min-width: 10rem;
            }

            .pz-cutomer-grp-text-no-bg{
              font-size:2.5rem;
            }
            .pz-customer-group-bottom{
              
              display: flex;
              align-items: center;
              justify-content:space-evenly;

              .pz-customer-group-bottom-text{
                  font-size: 0.9rem;
                  font-style: italic;
                  font-weight: 400;
              }
              .pz-customer-group-bottom-tag{
                background: #76e0f6;
                font-size: 1.2rem;
                padding: 0.2rem;
                border-radius:0.2rem;
              }
            }

          }
          .pz-text-wrapper {
            text-align: left;
          }
        }
        .pz-tabs-combine {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% / 3);
          box-shadow: 0px 0px 8px 1.5px rgba(204, 204, 204, 0.5),
            0px 10px 1px #fff;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          background: #fff;
          z-index: 999;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            background: #fff;
            width: 100%;
            height: 20px;
            bottom: -10px;
            left: 0;
            z-index: 99;
          }

          .pz-tabs-combine-l,
          .pz-tabs-combine-r {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .pz-tab-items-top,
            .pz-tab-items-bottom {
              text-align: center;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .pz-cutomer-grp-text {
      background: #76e0f6;
    }
    .pz-item-grp-text {
      background: #f6e176;
    }
    .pz-item-grp-text,
    .pz-cutomer-grp-text {
      display: inline-block;
      padding: 4px;
      border-radius: 3px;
      width: 7rem;
      white-space: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  // pricezone Table

  .pz-table-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: 0.9rem;
    width: 100%;
    background: #fff;
    padding: 40px 5px;
    box-shadow: 0px -2px 5px rgba(204, 204, 204, 0.5);
    margin-top: 0.6rem;
  }

  .pz-review-reminder {
    font-weight: 400 !important;
    font-size: 1rem !important;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    font-style: italic;
  }

  tr {
    th {
      &:nth-child(2) {
        border-left: 1px dashed rgba(0, 0, 0, 0.137);
        border-right: 1px dashed rgba(0, 0, 0, 0.137);
      }
    }
  }

  .ant-table-row {
    .ant-table-cell {
      &:nth-child(2) {
        border-left: 1px dashed rgba(0, 0, 0, 0.137);
        border-right: 1px dashed rgba(0, 0, 0, 0.137);
      }
    }
  }
}

// override content styles background

.pz-no-bg {
  background: none !important;
}

// ==============================
// Submitter styles
// ==============================

// override antd table rows

.pz-review-base-wrapper {
  width: 100%;
  .ant-table-row-level-0 {
    height: 10rem !important;
    padding-bottom: 0.5rem;
  }
}

.pz-review-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 1.6rem;

  .pz-review-name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .pz-review-date {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .pz-review-note {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.pz-cursor {
  cursor: pointer;
}

// ==============================
// Summery of changes styles
// ==============================

.pz-review-sum-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .pz-review-sum-left-pz,
  .pz-review-sum-left-opco {
    width: 100%;
    height: 100%;
  }
  .pz-review-sum-left-pz {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: flex-start;

    span {
      width: 100%;
      height: auto;
    }
    .pz-review-sum-zone {
      position: relative;
      height: 100%;

      .pz-zone-wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        font-size: 1.5rem;

        .pz-zone-from-to-base {
          display: flex;
          position: relative;
          // &::before{
          //   content: '';
          //   position: absolute;
          //   top:0;
          //   left:0;
          //   width:100%;
          //   height:50%;
          //   border-bottom: 1.4px dashed red;
          //   z-index: 1;
          // }
          .pz-zone-from,
          .pz-zone-to {
            //min-width:2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            z-index: 2;
          }
          .pz-zone-from {
            padding-right: 1rem;
          }
          .pz-zone-to {
            padding-left: 1rem;
          }
          .pz-zone-separator {
            width: 2rem;
            position: relative;
            display: flex;
            align-items: center;
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 0.5rem;
              border-bottom: 1px dashed red;
            }
          }
        }
      }
    }
  }

  .pz-review-sum-left-opco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .pz-review-opco {
      font-size: 1.5rem;
    }
  }
}
.pz-review-sum-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 0;

  &::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 3px;
    border-left: 1px dashed rgb(68, 68, 68);
  }

  .pz-review-right-wrapper {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    .pz-right-top,
    .pz-right-bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .pz-right-top {
      .pz-effective-date-text {
        width: 100%;
      }
      .pz-effective-date {
        width: 100%;

        font-size: 1.5rem;
      }
    }

    .pz-right-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .pz-effective-date-text {
        width: 100%;
      }
      .pz-effective-date {
        width: 100%;

        font-size: 1.5rem;
      }
    }
  }
}

// APROVE REJECT BUTTONS

.pz-aprove-reject-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0rem 1rem;

  .search-btn {
    width: calc(100% / 2);
    padding: 0.6rem 2rem;
    font-weight: 600;
    background: rgba(4, 119, 0, 1);
    background: linear-gradient(
      180deg,
      rgb(153, 224, 132) 7%,
      rgb(21, 160, 16) 100%
    );
  }
  .reject-btn {
    margin-left: 5px;
    background: rgb(247, 54, 54);
    background: linear-gradient(
      180deg,
      rgba(255, 6, 6, 0.5) 7%,
      rgb(247, 54, 54) 100%
    );
  }
}

.pz-customer-tag {
  background: #76e0f6;
  text-align: center;
  border-radius: 5px;
}
.pz-attribute-tag {
  background: #f6e176;
  text-align: center;
  border-radius: 5px;
}

// ========================
// PRICE ZONE POPUPS STYLES
// ========================

.pz-antModal {
  .ant-modal-content {
    border-radius: 10px !important;
  }
  .ant-modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    .ant-btn {
      border: none;
      border-radius: 0.2rem;
    }
    .ant-btn-primary {
      background: $syscogreen;
      min-width: 6rem;
    }
  }
}

// ===================
//   SUCCESS MESSAGE
// ===================

.pz-confirm-pop-base-success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;

  .pz-confirm-wrapper-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .pz-success-anim {
      .pz-success-anim-logo {
        width: 6rem;
        height: 6rem;
      }
    }
    .pz-success-text {
      margin-top: 1.5rem;
      font-size: 2rem;
      font-weight: 600;
      width: 100%;
      text-align: center;
    }
  }
}

.pz-confirm-pop-base {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20rem;

  .pz-confirm-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .pz-sucess-anim {
    }
    .pz-success-text {
      font-size: 2rem;
      margin-top: 1.5rem;
    }
  }

  // =======================
  //  Popup ReferenceTable
  // =======================

  .alert {
    .pz-warning-anim-logo{
width:8rem;
height:8rem;
    }
  }
  .pz-alert-main,
  .pz-alert-sr-main {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }
  .pz-alert-sub,
  .pz-alert-sr-sub {
    font-size: 1.05rem;
    font-weight: 400;
    text-align: center;
    padding: 0px 2rem;
    margin-top: 1rem;
    color: lighten(#000, 30%);
    width: 100%;
  }
  .pz-alert-sr-main,
  .pz-alert-sr-sub {
    text-align: left;
    padding: 10px 0;
    margin: 0;
  }

  .pz-submit-text-base {
    margin-top: 10px;
  }
}

.pz-confirm-pop-base-table {
  .pz-pop-table {
    .pop-table-summary {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;

      .pop-sum-customer-grp,
      .pop-sum-Attrib-grp {
        height: auto;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;

        .pop-sum-tag {
          background: #76e0f6;
          text-align: center;
          font-size: 1.5rem;
          border-radius: 4px;
          margin-top: 0.3rem;
        }
        .pop-sum-total {
          font-size: 1rem;
          margin-top: 0.3rem;
        }
      }
      .pop-sum-Attrib-grp {
        margin-left: 10px;
        .pz-tag-blue {
          background: #f6e176;
        }
      }
    }

    .pz-pop-table-ant {
      margin-top: 2rem;
    }
  }
}

// =========================
// TOOLTIP
// =========================

.pz-tooltip {
  .ant-tooltip-inner {
    color: #000;
  }
}

// ===============================
//         Other styles
// ===============================

.pz-disabled {
  pointer-events: none !important;
  filter: grayscale(0.7);
}

// main tab view styles

.pz-maintab-item{
  display: flex;
  align-items: center;
  width: 12rem;
  justify-content: space-evenly;

  .pz-icon-tab{
    font-size:1.4rem;
  }
  .pz-main-tab-sub{
    margin-left:0.5rem;
  }
} 