/***********************************************************
    CLOUD PRICING APP PRIMARY SASS FILE - BUILT ON BT-UX-FRAMEWORK
    Author: Michael Lu 
    (Auto Compiled to CSS during runtime)
***********************************************************/
@import "login/_login";
@import "appbar/_appbar";
@import "searchpanel/_searchpanel";
@import "actionbuttons/_actionbuttons";
@import "pricevalidation/_pricevalidation";
@import "fileupload/_fileupload";

.cloudpricing-wrapper {
  @include flexbox(1 1 auto, column, flex-start, flex-start);
  background: url("../../images/pagebg.png") no-repeat top center;
  background-size: 100% auto;
  overflow: hidden;
}
