//Main Theme Colors
$background: white;
$textstandard: #62737e;
$textalternative: white;
$textalternative-faded: rgba(255, 255, 255, 0.5);
$faded-background-light: rgba(255, 255, 255, 0.6);

$syscoblue: #008ace;
$syscodarkblue: #1c4f72;
$lightblue: #91c0e5;

$syscogreen: #54ae44;
$syscolightgreen: #a4c783;
$syscodarkgreen: #155a32;

$syscoyellow: #f1c40f;
$lightyellow: #fff6e3;

$syscored: #e95c56;
$syscoorange: #ff8402;
$lightorange: #ff84028f;
$darkorange: #e28a2a;

$bluegrey: #507b8f;
$bluegrey2: #7792a5;

$syscopurple: #8e44ad;

//Grid Colors
$gridstripes: lighten($syscoblue, 58%);
$gridhighlight: #fff7e4;

//Modals
$modalheader: #f6f9fc;

//Price Group Colors
$price-group-color-1: #a18976;
$price-group-color-2: #507b8f;
$price-group-color-3: #4b8ba8;
$price-group-color-4: #4ba88c;

//Browser Support colors
$browser-support-cream: #fffbe7;
$browser-support-light: #707070;
$browser-support-bold: #000000;
$browser-support-blue: #0373b4;

//top error bar colors
$top-error-bar-background:#FFD400;

//App version text color

$app-version-after: rgba(98, 115, 126,0.2);
