.content {
  @include flexbox(1 1 auto, row, flex-start, flex-start);
  width: 100%;
}

.pricing-results {
  @include flexbox(1 1 auto, row, flex-start, flex-start);
  margin: 0 2rem;
  border-radius: 0.9rem;
  background: $textalternative;
  border: 1px solid rgba(98, 115, 126, 0.25);

  .section-wrapper {
    @include flexbox(1 1 auto, column, flex-start, flex-start);
  }
  @import "_pricing-result-meta";
  @import "_price-bar";
  @import "_pricing-detailed";
}
