.browsersupport-wrapper {
  @include flexbox(1 1 auto, column, center, center);
  width: 100%;
  height: auto;
  animation: fadeIn 1s ease;
  background: url("../../../images/browser_support_bg.svg");
  background-size: cover;
  background-attachment: fixed;

  .browser-support-widget-wrapper {
    @include flexbox(1 1 auto, column, center, center);
  }

  #browsersupport-logo {
    position: absolute;
    left: 0.555rem;
    top: 20px;
    width: 300px;
    height: 100px;
    background: url("../../../images/browser_support_logo.svg") no-repeat;
    background-size: contain;
    background-position: center center;
    transform: scale(0.8);
  }

  .browsersupport-icon-wrapper {
    width: 150px;
    height: 150px;
    background: $browser-support-cream;
    @include flexbox(0 0 auto, column, center, center);
    border-radius: 50%;

    .browsersupport-icon {
      transform: scale(2.5);
      position: relative;
      margin: 0px 0px 0px 15px;
    }
  }

  .browsersupport-header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

    #browsersupport-header-msg {
      font-size: 2.5rem;
      font-weight: 300;
      color: $browser-support-light;
    }
    #browsersupport-sub-msg {
      font-size: 2.8rem;
      font-weight: bold;
      color: $browser-support-bold;
      letter-spacing: 0.011rem;
      margin-top: 5px;
    }
  }

  .browsersupport-info {
    margin-top: 50px;
    font-size: 1.2rem;
    color: $browser-support-light;
  }

  .browsersupport-icon {
    width: 50px;
  }

  #browsersupport-list {
    width: 70%;
    height: auto;
    min-width: 20%;
    text-align: center;
    margin-top: 40px;
  }

  #browsersupport-browsername {
    color: $browser-support-blue;
    font-weight: 800;
    margin-top: 10px;
  }

  #browersupport-browserversion {
    font-size: 12px;
  }

  #browersupport-options {
    #browsersupport-separator {
      width: 200px;
      height: 0.5px;
      background: black;
      margin-top: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      opacity: 0.7;
      &::after {
        position: absolute;
        content: "OR";
        top: -5px;
        background: #fff;
        padding: 0px 5px 0px 5px;
        font-size: 15px;
        color: #000;
      }
    }

    #browsersupport-dismiss {
      background-color: white;
      color: $browser-support-bold;
      cursor: pointer;
      width: 200px;
      height: 45px;
      border-radius: 40px;
      border: 2px solid $browser-support-bold;
      font-size: 14px;
      background: #fff;
      margin-top: 40px;
      outline: none;
      transition: 0.5s;
      margin-bottom: 1rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: $syscoblue;
        color: #fff;
        border: none;
        transition: 0.5s;
      }
      &::after {
        content: url("../../../images/browser_support_next.svg");
        right: 30px;
        position: absolute;
      }
     
    }
  }

  //   media queries

  @include breakpoint(xs) {
    #browsersupport-logo {
      left: 20px;
      width: 100px;
      height: 100px;
      background: url("../../../images/logo_short.svg") no-repeat;
      background-size: contain;
      background-position: center center;
      transform: scale(0.8);
      border-radius: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #browsersupport-list {
      width: 85%;
    }

    .browsersupport-info {
      width: 100%;
      text-align: center;
    }
    #browsersupport-list {
      width: 90%;
    }
  }

  @include breakpoint(sm) {
    #browsersupport-list {
      width: 100%;
    }

    #browsersupport-header-msg {
      font-size: 2.5rem !important;
      font-weight: 300;
    }
    #browsersupport-sub-msg {
      font-size: 3rem;
      font-weight: bold;
      color: $browser-support-bold;
      letter-spacing: 0.4px;
      margin-top: 5px;
    }
  }

  @include breakpoint(md) {
    #browsersupport-separator {
      margin-top: 25px !important;
    }
    #browsersupport-list {
      width: 85%;
    }
  }

  @include breakpoint(lg) {
    #browsersupport-list {
      width: 85%;
    }
    .browsersupport-header-wrapper{
      margin-top:40px;
    }
    #browersupport-options{
      margin-top: 20px;
    }
    .browsersupport-info{
      margin-top:80px;
    }
  }
}
