#error-bar-base {
  background: $top-error-bar-background;
  width: 100%;
  height: 2.7rem;
  z-index: 99;
  opacity:0.8;
  @include flexbox(0 0 auto, row, space-between, center);

  #error-bar-left {
  
    @include flexbox(0 0 auto, row, center, center);
    height:100%;
    margin-left:3.07rem;
    width:auto;

    .error-bar-icon{
        width: 2.7rem;
        height: 2.7rem;
    }
    #error-bar-msg{
        margin-left:20px;
        color:#525252;
        font-weight:600;
       
    }
    #error-bar-moreinfo{
        #error-bar-button{
            margin-left:1.54rem;
            background:none;
            border:0.115rem solid #525252;
            padding:0.384rem 0.615rem;
            border-radius:3.076rem;
            color:#525252;
            font-weight: 400;
            @include flexbox(0 0 auto, row, center, center);
            transition:0.5s;
            cursor: pointer;
            &:hover{
                background:#525252;
                color:#fff;
                transition:0.5s;
            }
        }
    }
  }

  #error-bar-right {
   
    @include flexbox(0 0 auto, row, center, center);
    height:100%;
    margin-right:3.076rem;
    cursor: pointer;
  }

  
}
