.searchpanel {
  @include flexbox(0 0 auto, column, flex-start, flex-start);
  width: 22rem;
  height: 93vh;
  padding: 1.2rem 1rem 1.2rem 1.9rem;
  position: relative;
  z-index: 1;
  transition: width ease-in-out 200ms;
  border-top-right-radius: 1rem;
  background: $textalternative;
  border: 1px solid $textalternative;
  opacity: 0.9;
  box-shadow: 0px 0px 0.9rem rgba(0, 0, 0, 0.16);
  overflow: hidden;
  &:hover {
    overflow: auto;
  }
  .mobile-toggler {
    display: none;
  }
  @include breakpoint(xs) {
    position: absolute;
    width: 95vw;
    left: -92vw;
    // display: none;
    transition: ease-in-out 150ms all;
    &.show {
      left: 0;
      .mobile-toggler {
        right: 1rem;
        height: 3rem;
        transform: rotate(-180deg);
        .anticon {
          color: $textstandard;
          font-size: 2.1rem;
          
          margin-right: -0.4rem;
        }
      }
    }
    .mobile-toggler {
      display: block;
      position: absolute;     
      height: 80vh;
      right: 0;
      top: 2rem;
      .anticon {
        color: $textstandard;
        font-size: 1.5rem;
        margin-right: -0.4rem;
      }
    }
  }

  .panel-header {
    color: $bluegrey;
    font-weight: 600;
    font-size: 1.4rem;
    .icon {
      margin-right: 0.5rem;
    }
    @include breakpoint(xs) {
      font-size: 2.4rem;
    }
  }

  .search-form {
    border-left: 1px dashed $textstandard;
    padding: 0.8rem 0 0.8rem 1.3rem;
    margin: 1rem 0 1rem 0.65rem;
    .ant-form-item-label {
      text-align: left;
      width: 6rem;
      font-size: 1.1rem;
      font-weight: 500;
      @include breakpoint(xs) {
        width: 100%;
      }
      & > label {
        height: 2rem;
        font-size: 1.15rem;
        color: $textstandard;
        @include breakpoint(xs) {
          font-size: 1.8rem;
        }
      }
      & > label::after {
        content: none;
      }

      & > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        // display: inline-block;
        // margin-right: 4px;
        // color: #ff4d4f;
        // font-size: 14px;
        // font-family: SimSun, sans-serif;
        // line-height: 1;
        // content: "*";
        content: none;
      }
    }
    .ant-form-item-control-input-content {
      max-width: 10.5rem;
      @include breakpoint(xs) {
        max-width: none;
        min-width: 60vw;
      }
    }
    .ant-form-item {
      color: $textstandard;
      font-size: 1.1rem;
      line-height: 1.2;
      list-style: none;
      margin-bottom: 1rem;
      vertical-align: top;
      @include breakpoint(xs) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }
    .ant-input,
    .ant-input-number-input,
    .ant-picker-input > input,
    .ant-select-selection-item {
      font-weight: 600;
      color: $bluegrey;
      @include breakpoint(xs) {
        font-size: 1.8rem;
        border-radius: 0.8rem;
      }
    }
    .ant-input-number,
    .ant-picker {
      width: 100%;
    }
    @include breakpoint(xs) {
      .ant-select,
      .ant-select-selection-item {
        font-size: 1.8rem;
        border-radius: 0.8rem;
      }
      .ant-select-item-option-content,
      .ant-select-item {
        font-size: 1.5rem !important;
      }
    }

    .ant-select-selector {
      @include breakpoint(xs) {
        // padding: 1rem;
        height: 3rem;
      }
    }
    .search-btn-wrapper {
      width: 100%;
      margin-left: -2rem;
      background: $textalternative;
      padding: 1rem 0;
      .ant-form-item-control-input-content {
        max-width: none;
      }
    }
    .search-btn {
      width: calc(100% + 2rem);
      padding: 0.6rem 2rem;
      font-weight: 600;
      @include breakpoint(xs) {
        padding: 1rem 3rem;
        font-size: 1.8rem;
        border-radius: 5rem;
      }
    }
  }

  .recent-searches {
    margin: 1rem 0;
    @include flexbox(0 0 auto, column, flex-start, flex-start);
    width: 100%;
    li {
      margin: 0.7rem 0;
      width: 97%;
      border-radius: 0.8rem;
      background: $textalternative;
      box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.16);
      transition: all ease-in-out 200ms;
      cursor: pointer;
      header {
        border-bottom: 1px dashed lighten($textstandard, 25%);
        margin: 0.5rem 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.85rem;
      }
      footer {
        background: lighten($textstandard, 50%);
        padding: 0.4rem 0.5rem;
        font-size: 0.85rem;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        span {
          color: $bluegrey;
          font-weight: 700;
          font-size: 1rem;
          margin-left: 0.1rem;
        }
      }
      .recent-search-fields {
        padding: 0.4rem 0.4rem 0.4rem 0.1rem;
        @include flexbox(1 1 auto, row, flex-start, flex-start);
        section {
          @include flexbox(1 1 auto, column, flex-start, flex-start);
          .block {
            font-size: 0.8rem;
            padding: 0 0 0.4rem 0.5rem;
            label {
              text-transform: uppercase;
              font-weight: 200;
            }
            div {
              font-weight: 600;
            }
            &.row {
              @include flexbox(1 1 auto, row, flex-start, flex-start);
              .sub-block {
                @include flexbox(1 1 auto, column, flex-start, flex-start);
                padding-right: 0.4rem;
              }
            }
          }
        }
      }

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
        box-shadow: 0px 0px 0.3rem rgba(80, 123, 143, 0.46);
      }
    }
  }
}
@import "_searchstatuses.scss";
