.searchpanel {
  @include flexbox(0 0 auto, column, flex-start, flex-start);
  width: 21rem;
  height: 100vh;
  padding: 1.2rem 3rem 1.2rem 1.9rem;
  position: relative;
  z-index: 1;
  transition: width ease-in-out 200ms;
  border-top-right-radius: 1rem;
  background: $textalternative;
  border: 1px solid $textalternative;
  opacity: 0.9;
  box-shadow: 0px 0px 0.9rem rgba(0, 0, 0, 0.16);
}
